<div class="row mt-4 justify-content-md-center">
    <div class="col-md-8">
        <h2> {{ titulo }} </h2>
        <form [formGroup]="registerForm">   
            <div class="row">                     
                <div class="form-group col-md-8 required">
                    <label for="">Nome Completo:</label>        
                        <input type="text" class="form-control" formControlName="nome"
                            [ngClass]="{'is-invalid': registerForm.get('nome').errors &&
                                                    registerForm.get('nome').touched }"
                            placeholder="Insira o Nome"/>
                        <div *ngIf="registerForm.get('nome').hasError('required') &&
                            registerForm.get('nome').touched"
                            class="invalid-feedback">
                            Nome Completo é obrigatório.
                        </div>
                                    
                        <div *ngIf="registerForm.get('nome').hasError('minlength') &&
                            registerForm.get('nome').touched"
                            class="invalid-feedback">
                            Deve conter no mínimo 4 caracters
                        </div>
                        
                        <div *ngIf="registerForm.get('nome').hasError('maxlength') &&
                            registerForm.get('nome').touched"
                            class="invalid-feedback">
                            Deve conter no máximo 100 caracters
                        </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="">CPF:</label>
                    <input class="form-control" type="text" formControlName="cpf" placeholder="   .   .   -  " mask="000.000.000-00"
                        [ngClass]="{ 'is-invalid': registerForm.get('cpf').errors && 
                                                registerForm.get('cpf').touched}"/>
                    <div *ngIf="registerForm.get('cpf').hasError('required') &&
                        registerForm.get('cpf').touched"
                        class="invalid-feedback">
                        CPF é obrigatório.
                    </div>
                </div>
            </div> 
            
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="">Celular:</label>
                    <input class="form-control" type="text" formControlName="celular" placeholder="(00) 00000-0000" mask="(00) 00000-0000"
                        [ngClass]="{ 'is-invalid': registerForm.get('celular').errors && 
                                                registerForm.get('celular').touched}"/>
                    <div *ngIf="registerForm.get('celular').hasError('required') &&
                        registerForm.get('celular').touched"
                        class="invalid-feedback">
                        Celular é obrigatório.
                    </div>
                </div>
                
                <div class="form-group col-md-8">
                    <label for="">Email:</label>
                    <input class="form-control" type="text" formControlName="email"
                        [ngClass]="{ 'is-invalid': registerForm.get('email').errors && 
                                                registerForm.get('email').touched}"
                        placeholder="Insira o E-mail"/>
                    <div *ngIf="registerForm.get('email').hasError('required') &&
                        registerForm.get('email').touched"
                        class="invalid-feedback">
                        email é obrigatório.
                    </div>
                    <div *ngIf="registerForm.get('email').hasError('email')
                        && registerForm.get('email').touched" class="invalid-feedback">
                        Deve ser um e-mail válido.
                    </div>
                </div>
            </div>           
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="">Data de Nascimento:</label>
                    <input class="form-control" type="text" formControlName="dataNascimento" placeholder="  /  /    " mask="00/00/0000" 
                        [ngClass]="{ 'is-invalid': registerForm.get('dataNascimento').errors && 
                                                registerForm.get('dataNascimento').touched}"/>
                    <div *ngIf="registerForm.get('dataNascimento').hasError('required') &&
                        registerForm.get('dataNascimento').touched"
                        class="invalid-feedback">
                        Data de Nascimento é obrigatória.
                    </div>
                </div>                
            </div>

            <div formGroupName="passwords">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="">Senha:</label>
                        <input class="form-control" type="password" formControlName="password"
                        [ngClass]="{ 'is-invalid': registerForm.get('passwords.password').errors &&
                                                    registerForm.get('passwords.password').touched}"
                        placeholder="Digite sua Senha" />
                        <div *ngIf="registerForm.get('passwords.password').hasError('minlength') &&
                        registerForm.get('passwords.password').touched"
                        class="invalid-feedback">
                        Deve conter no mínimo 4 caracters
                        </div>
                        <div *ngIf="registerForm.get('passwords.password').hasError('required') &&
                                    registerForm.get('passwords.password').touched"
                        class="invalid-feedback">
                        Senha é obrigatório.
                        </div>
                    
                    </div>
                    <div class="form-group col-md-4">
                        <label for="">Confirmar Senha:</label>
                        <input class="form-control" type="password" formControlName="confirmPassword"
                            [ngClass]="{ 'is-invalid': registerForm.get('passwords.confirmPassword').errors 
                                        && registerForm.get('passwords.confirmPassword').touched 
                                        ||registerForm.get('passwords.confirmPassword').hasError('mismatch') 
                                        && registerForm.get('passwords.confirmPassword').touched }"
                            placeholder="Confirme a Senha" />
                        <div *ngIf="registerForm.get('passwords.confirmPassword').hasError('required') &&
                                    registerForm.get('passwords.confirmPassword').touched"
                            class="invalid-feedback">
                            Confirme a Senha
                        </div>
                        <div *ngIf="registerForm.get('passwords.confirmPassword').hasError('mismatch') 
                                    && registerForm.get('passwords.confirmPassword').touched"
                            class="invalid-feedback">
                            Confirmação não confere
                        </div>          
                    </div>
                </div>
            </div>

            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="termo" formControlName="aceitaTermo">
                <label class="form-check-label" for="termo">Aceita <a href="#">termos</a></label>
            </div>

            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="informacoes" formControlName="receberInformacoes">
                <label class="form-check-label" for="informacoes">
                    Desejo receber mais informações sobre investimentos via SMS ou e-mail
                </label>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                  <button class="btn btn-lg btn-itau btn-block" [disabled]="!registerForm.valid"
                      (click)="novaConta()">Criar Conta</button>
                </div>
              </div>

        </form>
    </div>
</div>
  