<div>
  <body class="text-center">

  <form class="form-signin" #loginForm="ngForm" (ngSubmit)="login()">
    
    <h1 class="h3 mb-3 font-weight-normal">{{ titulo }}</h1>    

    <label for="agencia" class="sr-only">Agência</label>
    <input type="text" id="agencia" class="form-control" placeholder="Agência"
    name="agencia" required [(ngModel)]="conta.agencia">
    
    <label for="conta" class="sr-only">Conta</label>

    <div class="row">
      <div class="col">
        <input type="text" class="form-control" id="conta" placeholder="Conta" name="conta"
        required [(ngModel)]="conta.conta">
      </div>
      <div class="traco">-</div>
      <div class="col">
        <input type="text" class="form-control" id="digito" placeholder="Digito" name="digito"
        required [(ngModel)]="conta.digito">
      </div>
    </div>

    <br>

    <button [disabled]="!loginForm.valid" class="btn btn-lg btn-itau btn-block" type="submit">Entrar</button>
    <p class="mt-5 mb-3 text-muted">Não tem conta? Abra uma abaixo</p>
    <button class="btn btn-entrar btn-link btn-block" (click)="router.navigate(['/nova-conta'])">Quero abrir uma conta</button>
  
  </form>  

  </body>
</div>