<nav class="navbar navbar-expand-md navbar-dark itau-bg-orange">
  <div class="container">
    <!--<a class="navbar-brand" routerLink="dashboard">ITAU</a>-->

    <div class="logo">
      <a href="#">
        <img title="Banco Indra" alt="Banco Indra" src="../../../assets/img/logo-itau-varejo-desktop.png">
      </a>
    </div>
      
    <div class="collapse navbar-collapse" id="navbarprincipal">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="home">Institucional</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="home">Produtos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="home">Banco Indra pra você</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="home">Cartões</a>
        </li>       
      </ul>
      <form class="form-inline">
        <div class="input-group">
          <input type="search" class="form-control" placeholder="Pesquisar" aria-label="Pesquisar" 
            aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-itau" type="button"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </form>
      
      <form class="form-inline">
        <button class="btn btn-itau" type="button" (click)="acessar()">Acesse sua conta <i class="fas fa-user-lock"></i></button>
        <button class="btn btn-itau" type="button" (click)="novaConta()">Abra sua conta</button>
      </form>
    </div>
  </div>
</nav>