/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';

#toast-container > div {
    opacity: 1;
}

.toast-container {
 margin-top: 90px;
}

.navbar {
    height: 95px !important;
}

.itau-bg-orange {
    background-color: #EC7000;
}

.itau-bg-blue {
    background-color: #003399;
}

.itau-bg-yellow {
    background-color: #ffff00;
}

.btn-itau {
    color: #fff;
    margin-right: 10px;
    background-color: #003399;
    border: 0px;
}

.btn-itau:hover {
    color: #fff;
    background-color: #006699;
    opacity: 1;
}

.btn-itau:disabled {
    opacity: 0.5;
}

.btn-itau:hover:disabled {
    opacity: 0.5;
    background-color: #003399;
}